.hamburger-icon {
    display: block;
    height: 20px;
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    padding: 0 5px;
    cursor: pointer;
    span,
    span::before,
    span::after {
        display: block;
        content: '';
        background-color: white;
        @include size(28px, 3px);
        @include easeOut;
    }
    span::before {
        transform: translateY(-8px);
    }
    span::after {
        transform: translateY(5px);
    }
    &.open-hamburger-icon {
        span {
            background-color: transparent;
        }
        span::before {
            transform: translateY(0px) scale(0.75) rotate(45deg);
        }
        span::after {
            transform: translateY(-3px) scale(0.75) rotate(-45deg);
        }
    }
}