$home-image: url(../img/home-img.jpg);
.home {
    height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1)), $home-image no-repeat center center fixed;
    background-size: cover;
    .content {
        position: absolute;
        bottom: 30%;
        left: 5%;
        @include respond-below('small') {
            max-width: 60%;
        }
        h1 {
            font-family: $font-secondary;
        }
        .icons {
            margin: 1rem 0;
            font-size: 2rem;
            a {
                padding: 0.4rem;
                &:hover {
                    color: $secondary-color;
                    @include easeOut;
                }
            }
        }
    }
}